In [1]:
## define correlation calc value

In [116]:
def get_correl(rolling_window= 10):
    import pandas as pd
    import os
    from datetime import datetime

    var_values = pd.read_csv('var_values.csv')

    df = var_values.drop('submit_date', axis = 1).set_index(['variable_id','as_of_date']).stack().unstack(level=0).reset_index().drop('level_1', axis = 1).set_index('as_of_date')

    var_correlations = pd.DataFrame()
    for i in df.columns:
        for j in df.columns:
            tmp = {'variable_id_1':[i for r in range(0,len(df))],'variable_id_2':[j for r in range(0,len(df))], 'calculation_date':datetime.today().strftime('%Y-%m-%d'), 'value':df[i].rolling(rolling_window).corr(df[j])}
            tmp = pd.DataFrame(tmp)
            var_correlations = var_correlations.append(tmp)

    return var_correlations

In [117]:
df = get_correl()

In [118]:
df

           variable_id_1 variable_id_2 calculation_date  value
as_of_date
2021-01-01          id_1          id_1       2021-03-31    NaN
2021-01-04          id_1          id_1       2021-03-31    NaN
2021-01-05          id_1          id_1       2021-03-31    NaN
2021-01-06          id_1          id_1       2021-03-31    NaN
2021-01-07          id_1          id_1       2021-03-31    NaN
...                  ...           ...              ...    ...
2021-03-19          id_4          id_4       2021-03-31    1.0
2021-03-22          id_4          id_4       2021-03-31    1.0
2021-03-23          id_4          id_4       2021-03-31    1.0
2021-03-24          id_4          id_4       2021-03-31    1.0
2021-03-25          id_4          id_4       2021-03-31    1.0

[960 rows x 4 columns]